<h2 mat-dialog-title>Support</h2>
<mat-dialog-content>
    <p>We use the following channels for general feedback and discussions.</p>
    <mat-nav-list>
        <a mat-list-item href="https://m.me/DagonMetric">
            <mat-icon mat-list-icon svgIcon="logo-messenger"></mat-icon>
            <p matLine>
                Facebook Messenger
            </p>
            <p matLine>
                m.me/DagonMetric
            </p>
        </a>
        <a mat-list-item href="https://gitter.im/myanmartools/community">
            <mat-icon mat-list-icon svgIcon="logo-gitter"></mat-icon>
            <p matLine>
                Gitter
            </p>
            <p matLine>
                gitter.im/myanmartools/community
            </p>
        </a>
    </mat-nav-list>
    <p>We use Github issues to track public bugs.</p>
    <mat-nav-list>
        <a mat-list-item href="https://github.com/myanmartools/zawgyi-unicode-converter-web/issues">
            <mat-icon mat-list-icon svgIcon="logo-github"></mat-icon>
            <p matLine>
                GitHub Issues
            </p>
            <p matLine>
                github.com/myanmartools/zawgyi-unicode-converter/issues
            </p>
        </a>
    </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
