$mat-card-padding: 16px !default;
$mat-card-border-radius: 4px !default;
$mat-card-header-size: 40px !default;


.about-card {
    max-width: 620px;
}

.about-dialog-container .mat-dialog-container {
    padding: 0;
    // overflow-x: hidden;
}

.mat-dialog-title {
    margin: 0;

    .mat-card-title {
        white-space: nowrap;

        @media screen and (max-width: 500px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.mat-dialog-content {
    margin: 0 -16px;
    padding: 0 16px;

    .mat-grid-tile .mat-figure {
        justify-content: left;
        background: rgba(0, 0, 0, 0.1);
    }
}

.about-features {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li + li {
            margin-top: 12px;
        }
    }

    .app-badge-button.mat-icon-button {
        border-radius: 0;
        width: 135px;
        height: 40px;
        line-height: 40px;

        .mat-icon {
            color: #000000 !important;
            width: 135px;
            height: 40px;
            line-height: 40px;

            &.mat-primary {
                color: #000000 !important;
              }

              &.mat-accent {
                color: #000000 !important;
              }

              &.mat-warn {
                color: #000000 !important;
              }
        }
    }
}
