<mat-card class="about-card">
    <mat-card-header>
        <mat-icon svgIcon="logo-app" mat-card-avatar color="primary" aria-label="Zawgyi Unicode Converter Logo">
        </mat-icon>
        <mat-card-title>{{appName}}</mat-card-title>
        <mat-card-subtitle>Version: {{appVersion}}</mat-card-subtitle>
    </mat-card-header>
    <div mat-dialog-content>
        <img mat-card-image src="https://zawgyi-unicode-converter.myanmartools.org/assets/images/social-image.jpg"
            alt="Zawgyi Unicode Converter - The world's most intelligent accurate converter">
        <mat-card-content>
            <div lang="my-MM" class="myanmar-text my-uni">
                <p>
                    Zawgyi Unicode Converter ရဲ့ ယခုဗားရှင်းအသစ်တွင် UI design ပြောင်းလဲမှု အချို့နှင့်
                    အခြားတိုးတက်မှုများ ပါဝင်ပါတယ်။
                </p>

                <p>
                    <span *ngIf="!featureExpanded"><button type="button" mat-button
                            (click)="expandFeatures()">နောက်ထပ်ဆက်ဖတ်ရန်</button></span>
                </p>
                <div class="about-features" *ngIf="featureExpanded">
                    <p>
                        Zawgyi Unicode Converter သည် ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန်
                        ပြောင်းပေးနိုင်တဲ့ Progressive Web Application တစ်ခုပါ။ ၎င်းကို DagonMetric Myanmar Tools
                        အဖွဲ့ကနေ
                        ဖန်တီးခဲ့ပြီး အခမဲ့၊ open source အနေနှင့် မျှဝေထားခြင်းဖြစ်ပါတယ်။
                    </p>
                    <p><b>ထူးခြားချက်များ</b></p>
                    <ul>
                        <li>ဇော်ဂျီ နှင့် မြန်မာ ယူနီကုဒ် တို့ကို အပြန်အလှန် အမှားအယွင်းမရှိ တိကျမှန်ကန်စွာ
                            ပြောင်းပေးနိုင်ခြင်း
                        </li>
                        <li>စာရိုက်လိုက်တာနှင့် ဇော်ဂျီလား၊ ယူနီကုဒ်လား ဆိုတာကို သိရှိနားလည်ပြီး အလိုအလျောက်
                            ပြောင်းလဲပေးခြင်း</li>
                        <li>အင်တာနက် မရှိချိန်တွင်လည်း အချိန်မရွေး အသုံးပြုနိုင်ခြင်း</li>
                        <li>အခမဲ့နှင့် open source ဖြစ်ခြင်း</li>
                    </ul>

                    <p><b>Android ဖုန်းအသုံးပြုသူများအတွက်</b></p>
                    <p>Android ဖုန်းအသုံးပြုသူများအတွက် Zawgyi Unicode Converter ရဲ့ Android သီးသန့် app ကို Google Play
                        ကနေ
                        ရယူနိုင်ပါတယ်။ Android သီးသန့် app မှာ ဆိုရင် Share menu ကနေ အလွယ်တကူ ဇော်ဂျီ ယူနီကုဒ်
                        ပြောင်းနိုင်တဲ့ လုပ်ဆောင်ချက်တွေပါ ထည့်သွင်းပေးထားပါတယ်။ </p>
                    <p>
                        <a mat-icon-button class="app-badge-button"
                            href='https://play.google.com/store/apps/details?id=com.dagonmetric.zawgyiunicodeconverter&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                            title="Get the mobile app on Google Play">
                            <mat-icon svgIcon="logo-google-play-badge"></mat-icon>
                        </a>
                    </p>
                    <p><b>Community နှင့် အသုံးဝင်နိုင်မည့် Link များ</b></p>
                    <mat-nav-list>
                        <a mat-list-item [href]="navLink.url" *ngFor="let navLink of navLinks" target="_blank"
                            rel="noopener nofollow">
                            <mat-icon mat-list-icon [svgIcon]="navLink.iconName"></mat-icon>
                            <p matLine>
                                {{navLink.label}}
                            </p>
                        </a>
                    </mat-nav-list>
                    <p>ဤ Zawgyi Unicode Converter ကို အသုံးပြုရတာ ကြိုက်နှစ်သက်လိမ့်မယ်လို့ ယုံကြည်ပါတယ်။ သင့်မိတ်ဆွေများထံ
                        မျှဝေခြင်းဖြင့် ကူညီလိုက်ပါ။</p>
                </div>
            </div>
        </mat-card-content>
    </div>
    <mat-card-actions mat-dialog-actions>
        <button type="button" mat-button (click)="openSharing()">SHARE</button>
        <button type="button" mat-button mat-dialog-close>CLOSE</button>
    </mat-card-actions>
</mat-card>
