.about-dialog-container .mat-dialog-container {
    padding: 0;
}

.about-card {
    max-width: 620px;
}

.mat-dialog-title {
    margin: 0;

    .mat-card-title {
        white-space: nowrap;

        @media screen and (max-width: 500px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.mat-dialog-content {
    margin: 0 -16px;
    padding: 0 16px;

    h2 {
        font-weight: 600;
        font-size: 15px;
    }

    .mat-grid-tile .mat-figure {
        justify-content: left;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li + li {
            margin-top: 12px;
        }
    }

    .app-badge-button.mat-icon-button {
        border-radius: 0;
        width: 135px;
        height: 40px;
        line-height: 40px;

        .mat-icon {
            color: #000000 !important;
            width: 135px;
            height: 40px;
            line-height: 40px;

            &.mat-primary {
                color: #000000 !important;
              }

              &.mat-accent {
                color: #000000 !important;
              }

              &.mat-warn {
                color: #000000 !important;
              }
        }
    }
}

.mat-grid-tile .mat-figure {
    background: rgba(0, 0, 0, 0.05);
}

.dark {
    .mat-grid-tile .mat-figure {
        background: rgba(255, 255, 255, 0.05);
    }
}
