<mat-card class="sponsor-card">
    <div matDialogTitle>
        <mat-card-header>
            <mat-icon svgIcon="logo-app" mat-card-avatar color="primary">
            </mat-icon>
            <mat-card-title>
                {{appName}}
            </mat-card-title>
        </mat-card-header>
    </div>
    <div matDialogContent>
        <img mat-card-image [src]="imageUrl" alt="VAC Jobsearch - Top Paid Jobs in Yangon, Myanmar">
        <mat-card-content>
            <div lang="my-MM" class="myanmar-text my-uni">
                <p>ဤ Zawgyi Unicode Converter ကို <strong>VAC
                        ပြည်တွင်းအလုပ်အကိုင်ရှာဖွေရေးလုပ်ငန်း</strong> မှ အဓိကကူညီပံ့ပိုး ပေးထားပါသည်။
                    အလုပ်အကိုင်ကောင်းများစွာအတွက် အခုပဲ
                    <strong>VAC</strong> နှင့် ချိတ်ဆက်လိုက်ပါ။</p>
            </div>
        </mat-card-content>
    </div>
    <mat-card-actions matDialogActions>
        <a mat-stroked-button color="warn" href="http://vacjobsearch.com/" target="_blank" rel="noopener">VISIT
            VACJOBSEARCH.COM</a>
    </mat-card-actions>
</mat-card>
