<h2 mat-dialog-title>Become A Sponsor</h2>
<mat-dialog-content>
    <p>Please contact us via email or phone call during the office hours.</p>
    <mat-nav-list>
        <a mat-list-item href="mailto:opensource@dagonmetric.com?Subject=Request%20for%20sponsor">
            <mat-icon mat-list-icon svgIcon="email"></mat-icon>
            <p matLine>
                Email
            </p>
            <p matLine>
                opensource@dagonmetric.com
            </p>
        </a>
        <a mat-list-item href="tel:+959750123821">
            <mat-icon mat-list-icon svgIcon="call"></mat-icon>
            <p matLine>
                Call
            </p>
            <p matLine>
                09 750 123821
            </p>
        </a>
    </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
