<mat-toolbar color="primary" class="app-header" role="banner">
    <a mat-icon-button class="app-header-logo" routerLink="/"
        [attr.aria-label]="(isScreenSmall | async) ? appTitle : appTitleFull">
        <mat-icon svgIcon="logo-app"></mat-icon>
    </a>
    <h1 role="presentation" aria-hidden="true">{{(isScreenSmall | async) ? appTitle : appTitleFull}}</h1>
    <div class="flex-spacer" fxFlex="1 1 auto"></div>
    <button type="button" mat-icon-button (click)="toggleSideNav()">
        <mat-icon svgIcon="menu"></mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav" position="end" [opened]="(isScreenSmall | async) ? false : true"
        [mode]="(isScreenSmall | async) ? 'over' : 'side'" [fixedInViewport]="(isScreenSmall | async) ? true : false">
        <mat-nav-list>
            <h3 mat-subheader>Community and Links</h3>
            <a mat-list-item [href]="navLink.url" *ngFor="let navLink of navLinks">
                <mat-icon mat-list-icon [svgIcon]="navLink.iconName"></mat-icon>
                <p matLine>
                    {{navLink.label}}
                </p>
            </a>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Info and Support</h3>
            <a mat-list-item routerLink="about">
                <mat-icon mat-list-icon svgIcon="info"></mat-icon>
                <p matLine>
                    About
                </p>
            </a>
            <a mat-list-item routerLink="support">
                <mat-icon mat-list-icon svgIcon="help"></mat-icon>
                <p matLine>
                    Support
                </p>
            </a>
            <mat-list-item (click)="openSharing()">
                <mat-icon mat-list-icon svgIcon="share"></mat-icon>
                <p matLine>
                    Share
                </p>
            </mat-list-item>
        </mat-nav-list>
        <mat-list>
            <mat-divider></mat-divider>
            <h3 mat-subheader>Personalization</h3>
            <mat-list-item>
                <mat-slide-toggle [(ngModel)]="isDarkMode">Dark mode</mat-slide-toggle>
            </mat-list-item>
        </mat-list>
        <mat-list class="app-footer" dense>
            <mat-list-item>
                <span>&copy; DagonMetric</span>
                <a [href]="privacyUrl">Privacy</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
