<header class="app-header" role="banner">
    <mat-toolbar color="primary">
        <a mat-button class="nav-img-btn nav-brand" [href]="baseUrl" [attr.aria-label]="titleWithSuffix">
            <img class="nav-img site-logo-img" [src]="appImageUrl" alt="{{titleWithSuffix}}" role="presentation"
                aria-hidden="true">
            <span role="presentation" aria-hidden="true">{{title}}</span>
            <span role="presentation" aria-hidden="true" fxHide.xs>{{titleSuffix}}</span>
        </a>
        <div class="flex-spacer" fxFlex="1 1 auto"></div>
        <a mat-button class="nav-img-btn" [href]="githubRepoUrl" aria-label="GitHub Repository">
            <img class="nav-img" [src]="githubImageUrl" alt="{{githubImageAlt}}" role="presentation" aria-hidden="true">
            <span role="presentation" aria-hidden="true" fxHide.xs>GitHub</span>
        </a>
    </mat-toolbar>
</header>
<main class="container page">
    <div class="form-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
        <div class="form-field-container" fxLayout="column" fxFlex="1 1 100%">
            <mat-button-toggle-group aria-label="Source font encoding" [value]="sourceEnc"
                #sourceEncGroup="matButtonToggleGroup" (change)="onSourceEncChanged(sourceEncGroup.value)">
                <mat-button-toggle value="auto">{{autoEncText}}</mat-button-toggle>
                <mat-button-toggle value="zg">ZAWGYI</mat-button-toggle>
                <mat-button-toggle value="uni">UNICODE</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field floatLabel="never">
                <textarea matInput id="sourceTextareaSyncSize" class="myanmar-text" spellcheck="false" placeholder="Zawgyi or Unicode text"
                    [value]="sourceText" (input)="sourceText = $event.target.value"
                    [class.my-uni]="!detectedEnc || detectedEnc == 'uni'" [class.my-zg]="detectedEnc == 'zg'"
                    cdkTextareaSyncSize cdkAutosizeMinRows="10"
                    #sourceTextareaSyncSize="cdkTextareaSyncSize"></textarea>
            </mat-form-field>
        </div>
        <div class="form-field-container" fxLayout="column" fxFlex="1 1 100%" [fxHide.xs]="!outText">
            <mat-button-toggle-group aria-label="Target font encoding" [value]="targetEnc"
                #targetEncGroup="matButtonToggleGroup" (change)="onTargetEncChanged(targetEncGroup.value)">
                <mat-button-toggle value="zg">ZAWGYI</mat-button-toggle>
                <mat-button-toggle value="uni">UNICODE</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field floatLabel="never">
                <textarea id="outTextareaSyncSize" matInput class="myanmar-text" spellcheck="false" placeholder="Converted text"
                    [value]="outText" [class.my-uni]="targetEnc == 'uni'"
                    [class.my-zg]="!targetEnc || targetEnc == 'zg'" [readonly]="!outText" cdkTextareaSyncSize
                    cdkAutosizeMinRows="10" #outTextareaSyncSize="cdkTextareaSyncSize"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="column" class="about-description">
        <p>
            Zawgyi Unicode Converter (Myanmar Tools) is an open source online/offline Zawgyi (ဇော်ဂျီ) and standard Myanmar Unicode (မြန်မာယူနီကုဒ်) converter.
        </p>
        <div class="app-version">Version: {{appVersion}}</div>
    </div>
</main>
<footer class="app-footer">
    <div class="container">
        <div fxLayout="column" class="footer-section-grid">
            <section class="footer-section" fxLayout="column">
                <ul fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
                    <li>
                        <a href="https://myanmartools.org">Myanmar Tools Home</a>
                    </li>
                    <li>
                        <a href="https://github.com/myanmartools">GitHub</a>
                    </li>
                    <li>
                        <a href="https://gitter.im/myanmartools/community">Gitter Chat</a>
                    </li>
                    <li>
                        <a href="https://github.com/myanmartools/zawgyi-unicode-converter-angular-pwa/issues">Report
                            Issues</a>
                    </li>
                    <li>
                        <a
                            href="https://github.com/myanmartools/zawgyi-unicode-converter-angular-pwa/blob/master/CONTRIBUTING.md">Contribute</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</footer>
