<header class="app-header" role="banner">
    <mat-toolbar color="primary">
        <a mat-button class="nav-img-btn nav-brand" [href]="baseUrl" [attr.aria-label]="titleWithSuffix">
            <img class="nav-img site-logo-img" [src]="appImageUrl" alt="{{titleWithSuffix}}" role="presentation"
                aria-hidden="true">
            <span role="presentation" aria-hidden="true">{{title}}</span>
            <span role="presentation" aria-hidden="true" fxHide.xs>{{titleSuffix}}</span>
        </a>
        <div class="flex-spacer" fxFlex="1 1 auto"></div>
        <a mat-button class="nav-img-btn" [href]="githubRepoUrl" aria-label="GitHub Repository" target="_blank"
            rel="noopener">
            <img class="nav-img" [src]="githubImageUrl" alt="{{githubImageAlt}}" role="presentation" aria-hidden="true">
            <span role="presentation" aria-hidden="true" fxHide.xs>GitHub</span>
        </a>
    </mat-toolbar>
</header>
<main class="container page">
    <div class="form-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
        <div class="form-field-container" fxLayout="column" fxFlex="1 1 100%">
            <mat-button-toggle-group aria-label="Source font encoding" [value]="sourceEnc"
                #sourceEncGroup="matButtonToggleGroup" (change)="onSourceEncChanged(sourceEncGroup.value)">
                <mat-button-toggle value="auto">{{autoEncText}}</mat-button-toggle>
                <mat-button-toggle value="zg">ZAWGYI</mat-button-toggle>
                <mat-button-toggle value="uni">UNICODE</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field floatLabel="never">
                <textarea matInput id="sourceTextareaSyncSize" class="myanmar-text" spellcheck="false"
                    placeholder="Zawgyi or Unicode text" [value]="sourceText" (input)="sourceText = $event.target.value"
                    [class.my-uni]="!detectedEnc || detectedEnc == 'uni'" [class.my-zg]="detectedEnc == 'zg'"
                    cdkTextareaSyncSize #sourceTextareaSyncSize="cdkTextareaSyncSize"></textarea>
            </mat-form-field>
        </div>
        <div class="form-field-container" fxLayout="column" fxFlex="1 1 100%" [fxHide.xs]="!outText">
            <mat-button-toggle-group aria-label="Target font encoding" [value]="targetEnc"
                #targetEncGroup="matButtonToggleGroup" (change)="onTargetEncChanged(targetEncGroup.value)">
                <mat-button-toggle value="zg">ZAWGYI</mat-button-toggle>
                <mat-button-toggle value="uni">UNICODE</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field floatLabel="never">
                <textarea id="outTextareaSyncSize" matInput class="myanmar-text" spellcheck="false"
                    placeholder="Converted text" [value]="outText" [class.my-uni]="targetEnc == 'uni'"
                    [class.my-zg]="!targetEnc || targetEnc == 'zg'" [readonly]="!outText" cdkTextareaSyncSize
                    #outTextareaSyncSize="cdkTextareaSyncSize"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="about myanmar-text" fxLayout="column">
        <div class="description my-uni" fxLayout="column">
            Zawgyi Unicode Converter is an open source Zawgyi-One and standard Myanmar Unicode online/offline converter created by DagonMetric's Myanmar Tools team.
        </div>
        <div class="features my-uni" fxLayout="column">
            <ul fxLayout="column">
                <li>
                    <span>Ability to convert Zawgyi to Unicode and Unicode to Zawgyi</span>
                </li>
                <li>
                    <span>ဇော်ဂျီ မှ ယူနီကုဒ်နှင့် ယူနီကုဒ် မှ ဇော်ဂျီ အပြန်အလှန်ပြောင်းလဲနိုင်ခြင်း</span>
                </li>
                <li>
                    <span>Amazing correctness in every conversion</span>
                </li>
                <li>
                    <span>ပြောင်းလဲခြင်းတိုင်းမှာ အံ့သြဖွယ် တိကျမှန်ကန်မှုရှိခြင်း</span>
                </li>
                <li>
                    <span>Intelligent understanding of your input and convert automatically</span>
                </li>
                <li>
                    <span>စာရိုက်လိုက်တာနှင့် ဇော်ဂျီ၊ယူနီကုဒ် အလိုအလျောက်သိရှိပြီး ပြောင်းလဲပေးခြင်း</span>
                </li>
                <li>
                    <span>Ability to use anytime even disconnected from internet</span>
                </li>
                <li>
                    <span>အင်တာနက် ပြတ်တောက်နေချိန်တွင်လည်း အချိန်မရွေးအသုံးပြုနိုင်ခြင်း</span>
                </li>
                <li>
                    <span>Created by DagonMetric</span>

                </li>
                <li>
                    <span>ဒဂုန်မက်ထရစ်မှ ဖန်တီးထားသည်</span>
                </li>
                <li>
                    <span>Let's start converting now to Unicode to improve Myanmar language in digital world!</span>

                </li>
                <li>
                    <span>ကွန်ပျူတာသုံးမြန်မာစာစနစ် တိုးတက်ဖို့ ယူနီကုဒ်ကိုစတင်ပြောင်းလဲကြစို့...</span>
                </li>
            </ul>

        </div>
    </div>
</main>
<footer class="app-footer">
    <div class="container">
        <div fxLayout="column" class="footer-inner-container">
            <div class="app-version">
                <span class="version-text" [class.checking-update]="checkingUpdate">
                    Version: {{appVersion}}
                </span>
                <span class="update-spinner" [class.checking-update]="checkingUpdate">
                    Checking update...
                </span>
                <button type="button" class="update-btn" mat-icon-button aria-label="Check update"
                    [class.checking-update]="checkingUpdate" (click)="checkAppUpdate()">
                    <mat-icon svgIcon="refresh"></mat-icon>
                </button>
            </div>

            <div class="footer-links" fxLayout="column">
                <ul fxLayout="row" fxLayoutGap="24px">
                    <li>
                        <a href="https://myanmartools.org" target="_blank" rel="noopener">Myanmar Tools</a>
                    </li>
                    <li>
                        <a href="https://github.com/myanmartools/zawgyi-unicode-converter-angular-pwa/issues"
                            target="_blank" rel="noopener">Report
                            Issues</a>
                    </li>
                    <li>
                        <a href="https://github.com/myanmartools/zawgyi-unicode-converter-angular-pwa/blob/master/CONTRIBUTING.md"
                            target="_blank" rel="noopener">Contribute</a>
                    </li>
                </ul>
            </div>
            <div class="social-links">
                <a class="social-link-item" target="_blank" rel="noopener"
                    *ngFor="let socialLinkItem of socialLinkItems" [href]="socialLinkItem.url"
                    [attr.title]="socialLinkItem.label">
                    <mat-icon svgIcon="{{socialLinkItem.svgIconName}}"></mat-icon>
                </a>
            </div>
        </div>
    </div>
</footer>
