@import "../../styles/variables";

.form-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-top: $default-gap-width / 2;
}

.form-field-container {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
}
