@import "variables";

.form-container {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-top: $default-gap-width / 2;
}

.form-field-container {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
}

.main-content {
    .about-section {
        height: auto;
        visibility: visible;

        .description {
            justify-content: center;
            text-align: center;
            margin-bottom: $default-gap-width / 2;
        }
    }

    .about-section.fade-hide {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: height 0s, visibility 0s, opacity 0.5s linear;
    }
}

.mobile-apps {
    justify-content: center;
    text-align: center;

    .app-badge-button.mat-icon-button {
        // width: 139.53px;
        width: 140px;
        height: 54px;
        line-height: 54px;
        border-radius: 0;

        img {
            width: 139.53px;
            height: 54px;
        }
    }
}
